
/*----------- 1. GENERAL STYLING ------------*/
:root{
  --primaryColor: blue;
  --accentColor: #FF8C00;
  --secondaryColor: #c1c7c9;
  --darkColor: #18191a;
  --lightColor: #fefefe;
  --topBarHeight: 70px;
  --maxZIndex: 1000;
  --navBarWidth: 340px;
}

@media only screen and (max-width: 767.98px) {
  :root{
    --topBarHeight: 60px;
    --navBarWidth: 270px;
  }
}

*{
  transition: 0.3s all ease-in;
}

/*---------------- Fonts -------------------*/
@font-face {
  font-family: "OpenSansRegular";
  src: local("OpenSansRegular"), url("./fonts/Open_Sans/regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), url("./fonts/Open_Sans/bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSansLight"), url("./fonts/Open_Sans/light.ttf") format("truetype");
}

.font-bold{
  font-family: "OpenSansBold" !important;
}

.font-regular{
  font-family: "OpenSansRegular" !important;
}

.font-light{
  font-family: "OpenSansLight" !important;
}

/*--------------- font end here -----------------*/


body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--secondaryColor);
  color: var(--darkColor);
  font-family: "OpenSansLight";
}

#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn{
  font-family: "OpenSansRegular";
}
/*----------- 2. COMPONENTS STYLING ------------*/


/*-------------TopBar-----------*/
.TopBar{
  width: 100%;
  position: fixed;
  color: var(--lightColor);
  height: var(--topBarHeight);
  z-index: 900;
  background: var(--darkColor);
  background-image: url("./bg/bg_1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.TopBar .container{
  height: 100%;
  padding: 0;
}

.TopBar .container .title{
  font-size: 20px;
  padding: 0px;
  margin: 0;
  font-family: "OpenSansBold";
}


/*------------ NavBar ---------------*/
.NavPaper{
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 800;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.NavPaper-Open{
  display: block;
}

.NavBar{
  width: var(--navBarWidth);
  height: 100%;
  z-index: 801;
  background: var(--secondaryColor);
  position: fixed;
  top:0;
  left: 0;
  transition: 0.8s left ease;
  padding: 0px;
  padding-top: var(--topBarHeight);
  background-image: url("./bg/bg_1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.NavBar-Open{
  left: 0 !important;
}

.NavBar-Close{
  left: -450px !important;
}

.NavBar > .mContainer{
  padding: 10px;
  position: relative;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: var(--topBarHeight);
}

.NavBar > .mContainer > .mImage{
  width: 100%;
  position: absolute;
  height: 100px;
  padding: 0px;
  margin: 0px;
  left: 0px;
  bottom: 0;
}

.NavBar > .mContainer > .mImage > img{
  width: 100px;
  height: 100px;
}

.NavBar > .mContainer > .mItem{
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  height: var(--topBarHeight);
  background: none;
  color: var(--lightColor);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.NavBar > .mContainer > .mItem  .mIcon{
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.NavBar > .mContainer > .mItem  .mTitle{
  font-size: 16px;
  font-family: "OpenSansRegular";
  margin: 0px;
  padding: 0px;
}

.NavBar > .mContainer > .selected{
  background: var(--secondaryColor) !important;
  color: var(--darkColor) !important;
}


/*---------------MainLoader-------------*/
.MainLoader{
  width: 100%;
  height: 100%;
  z-index: 905;
  background: var(--secondaryColor);
  position: fixed;
}

.MainLoader > .mContainer{
  position: absolute;
  background: none;
  width: 250px;
  height: auto;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*----------------MainBody--------------------*/
.MainBody{
  width: 100%;
  height: auto;
  padding: 0px;
  position: relative;
  margin: 0px;
}

.MainBody > .mTitle{
  width: 100%;
  padding: 0px;
  background: var(--lightColor);
  position: fixed;
  height: 40px;
  z-index: 700;
  top: var(--topBarHeight);
  left: 0;
  right: 0;
}

.MainBody > .mTitle > .container{
  height: 100%;
}

.MainBody > .mTitle > .container > p{
  line-height: 40px;
  font-family: "OpenSansRegular";
}

.MainBody > .mContainer{
  width: 100%;
  padding-top: 130px;
  padding-bottom: var(--topBarHeight);
}


/*-----------------Stock--------------*/
.Stock{
  color: var(--darkColor);
}

.Stock .introCard{
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
}

.Stock .introCard .d-flex{
  height: 100%;
}

.Stock .introCard h1{
  font-size: 45px;
  font-family: "OpenSansRegular";
  color: var(--lightColor);
}

.Stock .introCard h6{
  font-size: 15px;
  font-family: "OpenSansRegular";
}

.Stock .introCard .mIcon{
  width: 80px;
  height: 80px;
  color: var(--lightColor);
}


/*----------------OneStock ------------*/
.OneStock{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.OneStock > .mContainer{
  width: 100%;
}

.OneStock > .mContainer > .mTitle{
  font-size: 16px;

  font-family: "OpenSansBold";
}

.OneStock > .mContainer > .mAmount{
  font-size: 28px;
  color: var(--accentColor);
  font-family: "OpenSansRegular";
}

.OneStock > .mContainer > button{
  width: 40px;
  padding: 5px;
  box-shadow: none;
  color: var(--accentColor);
}

.OneStock > .mContainer > button:hover{
  width: 40px;
  padding: 5px;
  color: var(--primaryColor);
}


.OneStock > .mContainer > button > .mIcon{
  width: 20px;
  height: 20px;
}
